<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de ingreso de productos ejs</title>
    <%- include("../partials/head.ejs"); %>
</head>
<body>

    <% if (name) { %>
        <div>
            <h3>Bienvenido <%= name %></h3>
            <a href="/api/logout"  class="logout"><button class="logoutButton">Cerrar sesión</button></a>
        </div>
    <% } %>
    
        <div class="Chat">
            <h2>Chat</h2>
            <form enctype="application/json" class="chatForm">
                <div>
                    <input type="email" id="email" name="email" placeholder="Tu email (obligatorio)" required>
                </div>
                <div>
                    <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
                </div>
                <div>
                    <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required>
                </div>
                <div>
                    <input type="number" id="edad" name="edad" placeholder="Tu edad" required>
                </div>
                <div>
                    <input type="text" id="alias" name="alias" placeholder="Alias" required>
                </div>
                <div>
                    <input type="text" id="avatar" name="avatar" placeholder="URL a imagen" required>
                </div>
                <div>
                    <input type="text" id="text" name="text" placeholder="Envia un mensaje" required>
                </div>

                <button type="submit" id="chatButton">Enviar</button>
            </form>   
        </div> 

        <div class="ChatMsgs">

        </div>


        <div class="Subcontai2ner">
            <h2>Productos random</h2>
            <table class="Tabla">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
                </thead>
                <tbody id="element"></tbody>
            </table>
        </div>
 
    <script src="./main.js"></script>
    <script src="./ejs.js"></script>
</body>
</html>